{{!-- display message when no articles have been saved --}}
<div class="articles">
	<br />
	<br />
	<div class='alert alert-warning text-center'>
		<h4>No Articles have been Saved at this time</h4>
		<h4>Select the home page and save the article if you want to view or add comments</h4>
	</div>
</div>