body {
	background-image: url(../img/background1.jpg);
	background-position: center;
	font-family: "Cormorant SC", sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Cormorant SC', serif;
	color: rgb(0, 102, 255);
}

h5 {
	font-family: 'Cormorant SC', serif;
	color:darkgray;
}


.panel-default>.panel-heading {
  background-color: rgb(0, 102, 255);
  color: #fff;
}

.panel-default {
  border-color: darkgray;
}

.saved-buttons {
  margin-right: 1em;
}

.noteText {
  color: black;
}

.delete-x {
  color: red;
}

.modal-body{
	background-image: url(../img/background1.jpg);
	background-size: cover;
	background-position: center;
}

.alert-warning {
	color: #fff;
	background-color: rgb(0, 102, 255);
	border-color: rgb(0, 102, 255);
}

.main-img {
	margin-bottom: 2em;
	border-top: 2px solid darkgray;
	border-bottom: 2px solid darkgray;
		height: 100px;
}

.saved-articles {
	margin: 0 auto;
	width: 80%;
}

#saved-msg{
	color: rgb(0, 102, 255);
	font-weight: bold;
}
